body {
  background-color: rgb(10, 10, 10);
  color: #fbfbfb;
}

main {
  background-color: rgb(10, 10, 10);
  max-width: 1300px;
  height: 100vh;
  margin: 0 auto;
  padding: 24px;
}

.sectionTitle {
  letter-spacing: 1.3px;
  padding: 0.8em 0;
}

.sectionSubTitle {
  letter-spacing: 1.3px;
  /* padding: 0.8em 0; */
}

.sectionParagraph {
  font-size: 1.2rem;
  letter-spacing: 1.1px;
  padding-bottom: 1em;
  font-weight: 300;
}
